<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="../CSS/patientRegister.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="title">Login</div>
        <div class="content">
            <form method="POST" onsubmit="loginPatient()" action="javascript:void(0)">
                <div class="user-details" id="login-user-details">
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" id="patientmail" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" oninvalid="alert('password must contain one capital, one small letter, and number and min length is 8');" name="password" id="patientpassword" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">You ??</span>
                        <select class="department-detail" id="department">
                            <option value="doctor">Doctor</option>
                            <option value="patient">Patient</option>
                        </select>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Login">
                </div>
                <div class="button">
                    <button id="button" onclick="history.back()">Back</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../JS/patientRegister.js" asp-append-version="true"></script>
</body>
</html>
